div.sticky-sidebar{
  margin-right:auto; 
  margin-top:100px;
   border:2px white;
  height:200px;
  position: -webkit-sticky; 
  position: sticky;
  top: 20px;
  margin-left:30px;
  border-radius: 5px;
}

.discountText{

  color:green;
  font-weight:bolder;
}

.mainContainer{
  margin-top: 20px;
  margin-left:auto;
}

.sidebar-buttons{
  width:300px;
}
.quantity{
  width:40px;
  height:40px
}